.project {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust as needed */
    perspective: 1000px;
}

.project-body {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    border: 1px solid #77dd77;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-out; /* Increased duration and changed timing function */
}

.project-image {
    flex: 1;
    margin-bottom: 20px;
    margin: 1em;
    margin-right: 2em;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Changed from cover to fill to stretch the image */
}

.project-details {
    margin-right: 1em;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-bottom: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    pointer-events: auto; /* Add this line */
}

.project-title {
    font-size: 24px;
    margin-top: 0;
    color: #fff;
}

.project-description {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d9d9d9;
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #77dd77;
    color: #000000;
    width: 35%;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    position: relative;
    z-index: 3; /* Ensure the link is above the trackers */
}

.project-link:hover {
    background-color: #5ab45a;
    color: #ffffff;
}

.mouse-position-tracker {
    position: absolute;
    width: calc(100% / 3);
    height: calc(100% / 3);
    pointer-events: none; /* Make these invisible to mouse events */
}

.mouse-position-tracker:nth-child(3n - 2) { left: 0; }
.mouse-position-tracker:nth-child(3n - 1) { left: calc(100% / 3); }
.mouse-position-tracker:nth-child(3n) { right: 0; }
.mouse-position-tracker:nth-child(n + 4):nth-child(-n + 6) { top: calc(100% / 3); }
.mouse-position-tracker:nth-child(n + 7):nth-child(-n + 9) { bottom: 0; }

.mouse-position-tracker:nth-child(1):hover ~ .project-body { --rotationX: var(--angle); --rotationY: calc(var(--angle) * -1); }
.mouse-position-tracker:nth-child(2):hover ~ .project-body { --rotationX: var(--angle); }
.mouse-position-tracker:nth-child(3):hover ~ .project-body { --rotationX: var(--angle); --rotationY: var(--angle); }
.mouse-position-tracker:nth-child(4):hover ~ .project-body { --rotationY: calc(var(--angle) * -1); }
.mouse-position-tracker:nth-child(6):hover ~ .project-body { --rotationY: var(--angle); }
.mouse-position-tracker:nth-child(7):hover ~ .project-body { --rotationY: calc(var(--angle) * -1); --rotationX: calc(var(--angle) * -1); }
.mouse-position-tracker:nth-child(8):hover ~ .project-body { --rotationX: calc(var(--angle) * -1); }
.mouse-position-tracker:nth-child(9):hover ~ .project-body { --rotationY: var(--angle); --rotationX: calc(var(--angle) * -1); }

/* New styles */
.project-body:hover .project-link {
    z-index: 4; /* Bring link above trackers on project hover */
}

.actual-project-body {
    display: flex;
    height: 100%;
    transform: translateZ(20px); /* Push content slightly forward */
}

.projects-container {
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    flex: 1;
}

.projects-container h3{
    font-size: 1.3em;
    margin-bottom: 0em;
}

.projects-container p{
    font-size: 1em;
    margin-top: 0.5em;
}

@media (max-width: 900px) { /* Adjust the width as needed */
    .project-image {
        display: none; /* Hide the image */
    }

    .projects-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.project-links{
    display: flex;
    justify-content: space-evenly;
}