body {
    background: rgb(12, 12, 12);  
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    margin: 0;
    overflow: hidden;
}

.terminalParent {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terminal {
    background: none;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
}

.output {
    white-space: pre-wrap; /* Allows the text to wrap and keep spaces */
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5;
    display: flex;
}

.menu{
    margin-top: 10%;
    font-size: 1.5em;
    font-weight: 550;
    width: 80%;
    max-width: 1000px;
    display: grid;
}

.menuParent{
    display: flex;
    color: #04ff00;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuButton{
    font-size: 1.2em;
    padding: 15px;
    width: fit-content;

    text-decoration: none;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #13fe1f,
      0 0 82px #04ff00,
      0 0 92px #04ff00,
      0 0 102px #04ff00,
      0 0 121px #04ff00;
  }

.menuButton:hover{
    font-weight: 600;
    cursor: pointer;
    text-shadow:
    0 0 10px #fff,
    0 0 31px #fff,
    0 0 52px #13fe1f,
    0 0 92px #13fe1f,
    0 0 102px #04ff00,
    0 0 112px #04ff00,
    0 0 92px #04ff00,
    0 0 221px #04ff00;
}



.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #13fe1f,
    0 0 82px #04ff00,
    0 0 92px #04ff00,
    0 0 102px #04ff00,
    0 0 151px #04ff00;
}
  
h1, h2 {
  text-align: center;
  font-weight: 400;
}
  
h1 {
  font-size: 2.2em;
  animation: pulsate 1.5s infinite alternate;  
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.6em;
  font-weight: 550;
  box-shadow:
             0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #04ff00,
            0 0 0.8rem #04ff00,
            0 0 2.8rem #04ff00,
            inset 0 0 1.3rem #04ff00; 
}

@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #04ff00,
      0 0 80px #04ff00,
      0 0 90px #04ff00,
      0 0 100px #04ff00,
      0 0 150px #04ff00;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #04ff00,
    0 0 45px #04ff00,
    0 0 55px #04ff00,
    0 0 70px #04ff00,
    0 0 80px #04ff00;
  }

}