.content{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-left: 22%;
    margin-right: 22%;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}