body {
    background: rgb(12, 12, 12);  
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: white;
}

.header {
    text-align: center;
    margin-top: 6em;
}

.header-line {
    height: 2px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4em;
    background-color: #fff;
}

.content {
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
}